{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div style="text-align: center;font-family:verdana;">
    <h2><span style='font-size:50px;'>&#129351;</span>Tabla de Posiciones<span style='font-size:50px;'>&#129351;</span></h2>
    <br>
    <table border="2" align="center" style="width: 40%;table-layout:fixed;text-align:center;" class="table-info">
        <tr style="height:40px">
            <td style="font-size:25px;font-family:verdana;"><b>Usuario</b></td>
            <td style="font-size:25px;font-family:verdana;"><b>Tiempo (segundos)</b></td>
        </tr>
        {% for posicion in posiciones %}
            <tr style="height:40px">
                <td style="font-size:20px;font-family:verdana;">
                    {{posicion.name}}
                </td>
                <td style="font-size:20px;font-family:verdana;">
                    {{posicion.menor_tiempo}}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}