{% extends "base.html" %}
{% block content %}
<div style="text-align: center;font-family:verdana;">
    <h2>Resultado:</h2>
    <h4><b>Pregunta: </b>{{pregunta.text}}</h4>
    <h4><b>Tu respuesta: </b>{{respuesta.text}}</h4>
        {% if resultado == True %}
            <span style='font-size:80px;'>&#128512;</span>
            <h2>Felicitaciones!! - Tu respuesta es correcta.</h2>
        {% else %}
            <span style='font-size:80px;'>&#128543;</span>
            <h2>Lo siento, tu respuesta no es correcta. Inténtalo nuevamente.</h2>

        {% endif %}
        <br>
        <h3><a href="{{ url_for('public.mostrarcategorias') }}">Seguir jugando</a></h3>
</div>
{% endblock %}