<body>
{% extends "base.html" %}
{% block content %}
<div style="text-align: center;font-family:verdana;">
<h2>Selecciona una Categoria</h2>
<br>
	<span style='font-size:54px;'>&#127758;</span>
	<span style='font-size:50px;'>&#9917;</span>
	<span style='font-size:50px;'>&#128218;</span>
	<span style='font-size:50px;'>&#127912;</span>
<br><br>
	<p>Hora de inicio de tu partida: {{inicio}}</p>
	<!--{{session.get('dicc_categorias')}}-->
<table border="0" align="center">
	{% for categoria in categorias %}
		{% if session.get('dicc_categorias')[categoria.descripcion] == False %}
			<tr><td style="font-size:20px;font-family:verdana;"><a href="/trivia/{{categoria.id}}/pregunta">
			&#9830; {{categoria.descripcion}}
			</a></td></tr>
		{%else%}
			<tr><td style="font-size:20px;font-family:verdana;">
			&#9830; {{categoria.descripcion}} <span style='font-size:25px;'>&#10004;</span>
			</td></tr>
		{%endif%}
   {% endfor %}
</table>
<hr>
<br>
</div>
{% endblock %}
</body>
