<body>
{% extends "base.html" %}
{% block content %}
<div style="text-align: center;font-family:verdana;">
    <h2>FELICIDADES!!!! Has completado la Trivia</h2>
    <span style='font-size:100px;'>&#127942;</span>
    <h3>Tu tiempo: {{tiempo}}</h3>
    {% if minutos >= 1 %}
        Manuelita, Manuelita, Manuelita, donde vas?
        <span style='font-size:100px;'>&#128034;</span>
    {% else %}
        Eres el Flash de la Trivia TRIVIAL!
        <span style='font-size:100px;'>&#9889;</span>
    {% endif %}
    <br>
    <h3>Te animas a jugar de nuevo?</h3>
    <h3> <a href="{{ url_for('index') }}">Comenzar a jugar</a></h3>
</div>
<br>
{% endblock %}
</body>
