{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div style="font-family:verdana;">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <table border="0" align="center">
                <tr style="font-size:20px;height:45px">
                    <td>{{ form.email.label }}: </td>
                    <td>{{ form.email }}<br>
                        {% for error in form.email.errors %}
                            <b><span style="color: red;">{{ error }}</span></b>
                        {% endfor %}
                    </td>
                </tr>
                <tr style="font-size:20px;height:45px">
                    <td>{{ form.password.label }}: </td>
                    <td>{{ form.password }}<br>
                        {% for error in form.password.errors %}
                            <b><span style="color: red;">{{ error }}</span></b>
                        {% endfor %}
                    </td>
                </tr>
            </table>
            <br>
            <div style="font-size:20px;" align="center">{{ form.remember_me() }} {{ form.remember_me.label }}</div>
            <br>
            <div align="center">
                <button type="submit" class="btn btn-primary" value="register">Login</button>
            </div>
        </form>
    </div>
    <br>
    <div style="text-align: center;font-family:verdana;">
         <h4><a href="{{ url_for('auth.register') }}">¿No estás registrado?</a></h4>
    </div>
{% endblock %}