<!DOCTYPE html>
<html lang="es">
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/trivia.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>Trivia</title>
        {% endblock %}
    </head>
    <body>
        <div class="cabezal">
            <span>
                <a href="{{ url_for('public.index') }}">Inicio</a>
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('auth.login') }}"> -- Iniciar sesión</a>
                {% else %}
                    -- Usuario: {{ current_user.name }} -- <a href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
                {% endif %}
            </span>

            <hr>
            <div style="text-align: center;font-family:verdana;vertical-align:sub;">
                <img src="{{url_for("static", filename='imagenes/trivial.jpg')}}"/>
                <br><br>
                <h1 style="text-decoration: underline"> *** LA TRIVIA MAS GENIAL *** </h1>
            </div>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
              {% if messages %}
              <ul>
                  {% for message in messages %}
                  <li>{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
        <hr>

        {% block pie %}
        <footer class="footer">
            <div align="right">
                <p>Contacto: <a href="mailto:trivial@trivia.com.uy">trivial@trivia.com.uy</a></p>
            </div>
          </footer>
        {% endblock %}
    </body>
</html>